/* 全局样式表 */
html,
body,
#app {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eaedf1;
}
::-webkit-scrollbar
{
	/*display: none!important;*/
    /*width: 0;*/
    /*height: 0;*/
}
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, .1);
    background-color: rgba(0, 0, 0, .2);
    border-radius: 3px;
    /*border-top-right-radius: 4px;*/
    /*border-bottom-right-radius: 4px;*/
}
.el-table__header .has-gutter th.is-leaf:nth-last-child(2) {
    border-right: none;
}
.el-dialog__header {
    background-color: #409EFF;
}
.el-dialog__headerbtn .el-dialog__close{
    color: #fff !important;
}
.el-dialog__title{
    color: #fff !important;
}
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}

.el-card {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15) !important;
    display:flex;
    flex-direction: column;
}
.el-card__body {
    flex:1;
}
.el-table--striped .el-table__body tr.el-table__row--striped td.el-table__cell {
    background-color: rgba(238, 238, 238, 0.68) !important;
}
.el-table {
    margin-top: 15px;
    font-size: 12px;
    overflow: auto;
}
/*table元素hover项字体变色*/
.el-table tbody td:hover {
    /*color:#40a829 !important*/
}
/*table hover行变色*/
.el-table__body tr.hover-row>td.el-table__cell{
    background-color: #d1d2d3 !important;
}
.el-pagination {
    margin-top: 15px;
}

.ql-editor {
    min-height: 300px;
}

.el-cascader-menu {
    height: 250px;
}

.el-tabs {
    margin-top: 25px;
}

.ccbtn {
    background-color: #fff !important;
    border-color: #606266 !important;
}
.ccbtn>span{
    color: #606266;
}
.ccbtn:hover {
    background-color: #409EFF !important;
    border-color: #409EFF !important;
}
.ccbtn:hover > span {
    color: #fff;
}